
[datalink]
# datalink host, defaults to localhost
host='localhost'
# datalink port, defaults to 16000
port=16000
# or via websockets, ListenPort defaults to 18000
websocket='ws://localhost:16000/datalink'

# Match regular expression pattern on stream ids, ex '.*/JSON'
# if type is /BZJSON, assumes bzip2 compress of JSON data and will
# decompress before writing to jsonl
match='.*/(BZ)?JSON'

[jsonl]
# JSONL default Write pattern, usage similar to MSeedWrite in ringserver
# %n - network
# %s - station
# %l - location
# %c - channel
# %Y - year
# %j - day of year
# %H - hour
write='jsonl/%n/%s/%Y/%j/%n_%s_%l_%c_%Y_%j_%H.jsonl'

[jsonl.bandwrite]
# may also have separate pattern based on band code,
# for example band W is
# Band: W - Ultra-ultra Long Period, >= 0.001 to < 0.01 Hz
# and so use a daily pattern instead of hourly
W='jsonl/%n/%s/%Y/%j/%n_%s_%l_%c_%Y_%j.jsonl'
# also reuse the same pattern for U and V
V='W'
U='W'
